<% if current_user %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_user_session_path  %> |
  <%= link_to "Sign_up", new_user_registration_path %>
<% end %>
<br>
<%= search_form_for @q do |f| %>
  <%= f.search_field :name_cont %>
  <%= f.submit %>
<% end %>
<div class="list-products">
  <%= render @products %>
</div>
